Онлайн магазин. Продажа товаров. Вход через авторизацию. Катологи, поиск товаров, карточки товаров. Доставка курьерской службой. Оплата онлайн картой.




APF - ежегодный обязательный взнос для всех Клиентов. Отсутствие оплаченного APF блокирует возможность Клиенту совершать заказ продукции как онлайн.

APF является электронным товаров, не имеющим физического воплощения.

APF для Клиентов с категорией SP и остальных Клиентов имеют разные SKU а именно:
 - APF для SP: SKU = 0909
 - APF для остальных категорий Клиентов: SKU = 9909

APF всегда скрыт на сайте, не давая Клиенту возможности самостоятельно положить его в корзину. 
APF может быть добавлен в корзину только при взаимодействии пользователя с всплывающими окнами системы.
